# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Variables de entorno
.env

# Base de datos local
db.sqlite3

# IDE / Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Django
*.log
staticfiles/
mediafiles/

# Cobertura / SonarCloud
coverage.xml
htmlcov/
.coverage
.coverage.*

# md
sprints.md
sprint-test.md
mejoras.md
admin.md
proyecto.md
# uv
# uv.lock se sube al repo (es como el package-lock.json)
bettracker/
